{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ settings.title }}</h3>
        </div>

        <div class="box-body">
            <div>
                <form name="import-representative-form" id="import-representative-form" method="POST"
                      enctype="multipart/form-data"
                      action="{{ url('admin_import_representative') }}">

                    <div class="form-group">
                        <input type="file" name="data" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="delete" class="form-control"/> Delete all current representatives
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Import</button>
                    </div>
                </form>
            </div>

            <div class="clearfix"></div>

            <div>
                <p>
                    <strong>Note:<br/>
                        - Representatives excel file (*.csv) should have same format as <a href="{{ asset('bundles/intellihotadmin/doc/representatives.csv') }}">this file</a>.<br/>
                        - When "Delete all current representatives" is checked, all current representatives are deleted.
                    </strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}