/**
 * All styles are mobile first!
 */

/*
 * Base
 * -------------------------------------------------- */

body {
    background: #fff;
    font-family: 'Replica Std', Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    color: #000;
}

div.container {
    margin: 0 auto;
    max-width: 980px;
}

a {
    color: #ff5b00;
    text-decoration: none;
}

a:hover {
    color: #00d8ff;
    text-decoration: none;
    cursor: pointer;
}

a:focus, input:focus, button:focus {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.65em;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Replica Std', Verdana, sans-serif;
    line-height: 1em;
	font-weight: 400;
}

/*
 * Content
 * -------------------------------------------------- */

header {
    background: #fff;
    padding: 20px 0 20px 0;
    text-align: center;
}

.main {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 25px;
}

h1, h2 {
    color: #ff5b00;
    line-height: 1.2em;
}

.title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}

label {
    text-align: left !important;
    padding-bottom: 5px;
}

h4, h5, label.large-label {
    font-family: 'Replica Std', Verdana, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.4em;
    color: #ff5b00;
    margin-top: 15px;
    padding-bottom: 5px;
}

h4 {
    font-size: 28px;
}

body.step2 .required:after {
    content:" *";
    color: #000;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-primary, .btn-back, .btn-tryagain {
    margin-top: 20px;
    font-size: 16px;
}

.btn-submit {
    float: right;
}

.form-fixtures {
    display: none;
}

.form-hidden {
    display: none;
}

.fixtures label {
    font-size: 14px;
}

.form-water-in {
    padding: 0;
}

.form-water-out {
    padding: 0;
}

.form-water-setpoint {
    padding: 0;
}

.success-msg, .fail-msg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fail-msg h3 {
    color: #000;
}

.project-requirements table {
    margin-top: 10px;
    margin-bottom: 0;
}

.project-requirements td {
    border-top: 0 !important;
    padding: 5px 5px 5px 0 !important;
    font-size: 17px;
}

.project-requirements td.description {
    width: 155px;
    font-family: 'Replica Std', Verdana, sans-serif;
	font-weight:400;
}

.project-requirements #fixture-details {
    display: none;
}

.schematic-links {
    list-style: none;
    padding: 0;
}

.schematic-links li {
    font-size: 22px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}

.schematic-links li .fa {
    color: #BB0606;
    padding-right: 3px;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form .form-project-details {
    margin-top: 10px;
    padding-bottom: 15px;
    background: #eee;
    border-radius: 10px;
}

/* Selections */

.selection {
    padding-left: 0;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 0;
    border-top: 1px solid #ccc;
}

.selection:nth-child(2) {
    margin-top: 0;
    border-top: 0;
}

.selection-image {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
}

.selection-image img {
    margin-right: 20px;
    vertical-align: middle;
}

.selection-details {
    display: table-cell;
}

.selection .selection-details h1 {
    color: #666;
    font-size: 18px;
    margin-bottom: 0;
}

.selection .selection-details h2 {
    margin-top: 10px;
}

.selection .selection-details h3 {
    font-size: 17px;
    margin-top: 5px;
}

.selection .selection-details span {
    font-family: 'Replica Std', Verdana, sans-serif;
	font-weight:300;
}

/* Webshims validation */

.ws-po-arrow {
    border-bottom: .61538em solid #000 !important;
}

.ws-po-arrowbox {
    border-bottom: .53846em solid #000 !important;
}

.ws-po-box {
    padding: 7px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Flash messages */

.flash-msg {
    display: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.flash-msg.bg-success {
    color: #5cb85c;
}

.flash-msg.bg-danger {
    color: #d9534f;
}

.flash-msg.bg-warning {
    color: #F3B022;
}

.flash-msg a {
    color: inherit;
    text-decoration: underline;
}

/*
 * Footer
 * -------------------------------------------------- */

footer {
    padding-top: 15px;
    text-align: center;
}

footer p {
    font-size: 14px;
}