/*
 * Medium devices
 * -------------------------------------------------- */

@media (min-width: 480px) {

    .title {
        font-size: 22px;
    }
}

@media (min-width: 768px) {

    header {
        padding-bottom: 15px;
    }

    .logo {
        float: left;
    }

    .title {
        margin-top: 16px;
        font-size: 24px;
        float: right;
        padding-bottom: 7px;
    }

    .form-water-in {
        padding-right: 15px;
    }

    .form-water-out {
        padding-left: 15px;
		padding-right:15px;
    }
	.form-water-setpoint {
        padding-left: 15px;
    }
}