{% if debug == true %}
    <table class='table table-bordered debugging' style='max-width: 500px; margin: 15px auto 15px auto;'>
        <tr><td colspan='2'><h4>Debugging</h4></td></tr>
        <tr><td style='width: 35%'>Business Type Id</td><td style='width: 65%'>{{ project.businessId }}</td></tr>
        <tr><td>Business Type Name</td><td>{{ project.businessName }}</td></tr>
        <tr><td>Rooms</td><td>{{ project.rooms }}</td></tr>
        <tr><td>Fixture Details</td><td>{{ project.fixtureDetails|nl2br }}</td></tr>
        <tr><td>Asme Requirement</td><td>{{ project.asmeRequirement }}</td></tr>
        <tr><td>Mount Option</td><td>{{ project.mountingOption }}</td></tr>
        <tr><td>Altitude</td><td>{{ project.altitude }}</td></tr>
        <tr><td>Water Temperature In</td><td>{{ project.waterTempIn }}</td></tr>
        <tr><td>Water Temperature Out</td><td>{{ project.waterTempOut }}</td></tr>
        <tr><td>Calculated Fixture Units</td><td>{{ project.fixtureUnits }}</td></tr>
        <tr><td>Calculated Altitude Factor</td><td>{{ project.altitudeFactor }}</td></tr>
        <tr><td>Calculated Gpm</td><td>{{ project.gpm }}</td></tr>
        <tr><td>Calculated Btu</td><td>{{ project.btu }}</td></tr>
        <tr><td>Calculated Selections</td><td>{{ project.selections }}</td></tr>
    </table>
{% endif %}
