{% for selection in selections %}
    <div class="col-sm-11 col-md-10 selection">
        {% if selection.type == "match" %}
            <div class="selection-image">
                <img src="{{ asset('bundles/intellihotapp/images/heater-' ~ selection.image ~ '.png') }}" alt="Heater">
            </div>

            <div class="selection-details">
                <!--<h1>Option {{ loop.index }}</h1>-->
                <h2>{{ selection.name }}</h2>

                <h3>Number of Units: <span>{{ selection.quantity }}</span></h3>

                <h3>Maximum Input: <span>{{ selection.btu|number_format }} btu/h</span></h3>
                <!--<h3>Design Percentage: <span>{{ selection.percentage|round }}%</span></h3>-->
                <!--<h3>Design Percentage with one engine offline: <span>{{ selection.percentagefail|round }}%</span></h3>-->
            </div>
        {% else %}
            {% if selection.name == "Move to Wall Mount" %}
                <h2>Please try specifying wall-mounted units for your low-BTU project or contact our support team to
                    discuss the needs of your project. Thank you.</h2>
            {% elseif selection.name == "Move to Floor Mount" %}
                <h2>Please try specifying floor-mounted units for your high-BTU project or contact our support team to
                    discuss the needs of your project. Thank you.</h2>
            {% elseif selection.name == "Contact Support" %}
                <h2>Sorry, the sizing calculator was unable to make a recommendation. Please contact our support team to
                    discuss the needs of your project. Thank you.</h2>
            {% else %}
                <h2>Sorry, the sizing calculator was unable to make a recommendation. Please contact our support team to
                    discuss the needs of your project. Thank you.</h2>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}