{% extends "IntellihotAppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body_class %}step1{% endblock %}

{% block body_content %}
    <form name="intellihot_appbundle_submission" id="intellihot_appbundle_submission" class="form-horizontal"
          action="{{ url('result') }}" method="post" role="form">

        <div class="row">
            <div class="col-sm-12 col-centered">
                <div class="form-group form-business">
                    <div class="col-sm-12">
                        {{ form_label(form.business, label|default(null), { 'label_attr': {'class': 'large-label'}} ) }}
                        {{ form_widget(form.business) }}
                    </div>
                </div>

                <div class="form-group form-fixtures">
                    <div class="col-sm-12">
                        {% for business in businesses|sort %}
                            <div class="row fixtures fixtures-{{ business.id }}">
                                {% if business.hasRooms == true %}
                                    <div class="col-sm-12">
                                        <h5>How many rooms does your facility have?</h5>
                                    </div>
                                    <div class="col-sm-3 rooms">
                                        <input type="number" min="0" max="1999" name="rooms" id="rooms"
                                               class="form-control rooms"/>
                                        <br/>
                                    </div>
                                {% endif %}

                                <div class="col-sm-12">
                                    <h5>How many of the following are installed at your facility?</h5>
                                </div>

                                {% for fixture in fixtures|sort if fixture.business.id == business.id %}
                                    <div class="col-sm-3 fixture">
                                        <label class="control-label"
                                               for="fixture-{{ fixture.id }}">x {{ fixture.name }}</label>
                                        <input type="number" min="0" max="1999" name="fixture-{{ fixture.id }}"
                                               id="fixture-{{ fixture.id }}" data-weight="{{ fixture.value }}"
                                               data-name="{{ fixture.name }}"
                                               data-auto-populate="{% if fixture.isAutoPopulate %}1{% else %}0{% endif %}"
                                               class="form-control fixture-input"/>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group form-options">
                    <div class="col-sm-4">
                        {{ form_label(form.asmeRequirement, label|default(null), { 'label_attr': {'class': 'large-label'}} ) }}
                        {{ form_widget(form.asmeRequirement) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.mountingOption, label|default(null), { 'label_attr': {'class': 'large-label'}} ) }}
                        {{ form_widget(form.mountingOption) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.fuelSupply, label|default(null), { 'label_attr': {'class': 'large-label'}} ) }}
                        {{ form_widget(form.fuelSupply) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 form-water-temperature">
                        <h5>Water Temperature</h5>

                        <div class="col-sm-4 form-water-in">
                            {{ form_label(form.incomingWaterTemperature, label|default(null) ) }}
                            {{ form_widget(form.incomingWaterTemperature) }}
                        </div>
                        <div class="col-sm-4 form-water-out">
                            {{ form_label(form.desiredOutputTemperature, label|default(null) ) }}
                            {{ form_widget(form.desiredOutputTemperature) }}
                        </div>
                        <div class="col-sm-4 form-water-setpoint">
                            {{ form_label(form.pointTemperature, label|default(null) ) }}
                            {{ form_widget(form.pointTemperature) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 form-altitude">
                        <h5>Altitude</h5>
                        {{ form_label(form.altitude, label|default(null) ) }}
                        {{ form_widget(form.altitude) }}
                    </div>
                </div>

                <div class="form-group form-buttons">
                    <div class="col-sm-12">
                        <button type="submit" id="submit-step1" class="btn btn-primary btn-submit">
                            Calculate Project Size
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form.rooms) }}
        {{ form_widget(form.fixtureDetails) }}
        {{ form_widget(form.fixtureUnits) }}
        {{ form_widget(form.altitudeFactor) }}
        {{ form_widget(form.gpm) }}
        {{ form_widget(form.btu) }}
        {{ form_widget(form.selections) }}
        {{ form_widget(form._token) }}
    </form>
{% endblock %}