{% extends "IntellihotAppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body_class %}step2{% endblock %}

{% block body_content %}

    <div class="row">

        <div class="col-sm-7 recommendations">

            <div class="project-requirements">
                <h3>Estimated project requirements:</h3>
                <table class="table">
                    <tr><td class="description">Fixture Units:</td><td>{{ project.fixtureUnits }} fu <a id="show-fixture-details">(Show Details)</a></td></tr>
                    <tr id="fixture-details"><td class="description">Fixture Details:</td><td>{{ project.fixtureDetails|nl2br }}</td></tr>
                    <tr><td class="description">Estimated Flow Rate:</td><td>{{ project.gpm|round|number_format }} gpm</td></tr>
                    <tr><td class="description">Design Load:</td><td>{{ project.btu|round|number_format }} btu/h</td></tr>
                </table>
            </div>

            <div class="selections">
                {% for selection in selections %}
                    {% if selection.type == "match" and loop.index == 1 %}
                        <h3>Suitable models based on your requirements:</h3>
                    {% endif %}
                {% endfor %}

                {% include "IntellihotAppBundle:Calculator:_selection.html.twig" with {'selections': selections, 'project': project} %}

                <button class="btn btn-default btn-back">Change Project Details</button>

                {% for selection in selections %}
                    {% if selection.type == "nomatch" %}
                        <a href="mailto:calculator@intellihot.com" class="btn btn-default btn-tryagain">Contact Support</a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <div class="col-sm-5 contact-form">

            <form name="intellihot_appbundle_submission" id="intellihot_appbundle_submission" class="form-horizontal" action="{{ url('submit') }}" method="post" role="form">

                <h4>Instantly receive a report for your project</h4>

                <div class="form-group form-details">
                    <div class="col-sm-12 form-project-details">
                        {{ form_label(form.projectName, label|default(null) ) }}
                        {{ form_widget(form.projectName) }}

						{{ form_label(form.city, label|default(null) ) }}
                        {{ form_widget(form.city) }}

                        {{ form_label(form.state, label|default(null) ) }}
                        {{ form_widget(form.state) }}

                        {{ form_label(form.projectNumber, label|default(null) ) }}
                        {{ form_widget(form.projectNumber) }}

                        {{ form_label(form.projectDescription, label|default(null) ) }}
                        {{ form_widget(form.projectDescription) }}
                    </div>

                    <div class="col-sm-12 form-other-details">
                        {{ form_label(form.engineer, label|default(null) ) }}
                        {{ form_widget(form.engineer) }}

                        {{ form_label(form.contractor, label|default(null) ) }}
                        {{ form_widget(form.contractor) }}

                        {{ form_label(form.name, label|default(null) ) }}
                        {{ form_widget(form.name) }}

                        {{ form_label(form.email, label|default(null) ) }}
                        {{ form_widget(form.email) }}

                        {{ form_label(form.zipcode, label|default(null) ) }}
                        {{ form_widget(form.zipcode) }}

                        {{ form_label(form.phone, label|default(null) ) }}
                        {{ form_widget(form.phone) }}

                        {{ form_label(form.additionalComments, label|default(null) ) }}
                        {{ form_widget(form.additionalComments) }}
                    </div>
                </div>

                <div class="form-group form-hidden">
                    {{ form_rest(form) }}
                </div>

                <div class="form-group form-buttons">
                    <div class="col-sm-12">
                        <button id="submit-step2" class="btn btn-primary btn-submit">Generate Report</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

    {% if debug == true %}
        {% include "IntellihotAppBundle:Calculator:_debug.html.twig" with {'project': project} %}
    {% endif %}

{% endblock %}