{% extends "IntellihotAppBundle::base.html.twig" %}

{% block body_class %}step3{% endblock %}

{% block body_content %}

    {% if success == true %}

        <div class="success-msg">
            <h4>Thank you for your inquiry.</h4>
            <h3>Download your report</h3>

            <ul class="schematic-links clearfix">
                {% for schematic in schematics %}
                    <li>
                        <a href="{{ schematic.path }}" target="_blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> {{ schematic.name }} Schematic</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% else %}

        <div class="fail-msg">
            <h3>Sorry, we weren't able to submit your project.</h3>

            <button class="btn btn-default btn-back">Try Again</button>
            <a href="mailto:calculator@intellihot.com" class="btn btn-default btn-tryagain">Contact Support</a>
        </div>

    {% endif %}

{% endblock %}