{% block subject %}
    {% autoescape false %}
        {% if submission.projectNumber %}
            {{ submission.projectName }}, {{ submission.projectNumber }}
        {% else %}
            {{ submission.projectName }}
        {% endif %}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}

{% block body_html %}

    Dear {{ submission.name }},

    <p>Thank you for considering Intellihot to be your source for unlimited and efficient hot water. Please see the attached document(s) for details on your project:</p>

     <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
        <tr>
	{% for idx, selection in selections %}
          	<td style="padding:5px;"><b>Unit:</b> {{ selection.name }}<br />
                <b>Number of Units:</b> {{ selection.quantity }}<br />
                {% if selection.path is defined and selection.path is not empty %}<a href="{{ selection.path }}" title="Download Schematic" target="_blank">Download Schematic</a>{% endif %}
			</td>
	{% endfor %}
        </tr>
      </table>

    {% if include_user_information is defined and include_user_information == true %}
        <p>
            <b>User information:</b>
            <br />
            Email: {{ submission.email }}
            <br />
            Phone: {{ submission.phone }}
        </p>
    {% endif %}

    <p>Based on your project location, the following personnel can also assist you:</p>

    {% if submission.rsm is not null %}
        <p>
            <b>Intellihot sales manager:</b>
            <br />
            <a href="mailto:{{ submission.rsm.email }}">{{ submission.rsm.name }}</a>
        </p>
    {% endif %}

    {% if submission.representatives is not null %}
        {% set count = submission.representatives|length %}
        {% if count > 0 %}
            <p>
                <b>Intellihot {% if count == 1 %}representative{% else %}representatives{% endif %}:</b>
                <br />
                {% for representative in submission.representatives %}
                    <a href="mailto:{{ representative.email }}">{{ representative.company }}</a>
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}

    <p>If we can be of any assistance, please don't hesitate to call or email us.</p>

    <p>Sincerely,</p>
    <p>
        Intellihot Applications Team
        <br />
        Tel: 877.835.1705, <a href="mailto:applications@intellihot.com">applications@intellihot.com</a>
    </p>
{% endblock %}
