{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .box .box-body {
            padding-bottom: 125px !important;
            overflow: hidden;
            overflow-x: auto;
        }

        .logo {
            background: #fff !important;
            text-align: left !important;
        }

        .logo img {
            max-height: none;
            max-width: none;
        }

        .logo span {
            display: none;
        }

        .connection {
            padding-bottom: 20px;
            margin: 0 auto;
        }

        .connection .control-group {
            margin-bottom: 10px;
        }

        .navbar-nav .dropdown-user {
            width: 158px !important;
            margin-top: 2px !important;
            padding: 10px !important;
        }

        .custom-search-form {
            padding: 0 5px 0 5px;
        }

        .skin-black .left-side {
            padding-top: 5px;
        }

        .custom-search-form {
            padding: 0 5px 0 5px;
        }

        {% if app.user == false %}
        .skin-black .left-side {
            display: none;
        }

        .navbar-btn {
            display: none;
        }

        .navbar-nav {
            display: none;
        }

        {% endif %}

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#import-representative-form').submit(function (e) {
                e.preventDefault();

                var form = $(this);
                var submitBtn = $(this).find('button');
                var filePath = form.find('input[type="file"]').val();

                if (submitBtn.html() == 'Import') {
                    if (filePath.length > 0) {
                        var ext = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();

                        if (ext !== 'csv') {
                            alert('Sorry, we only support csv file.');
                        } else {
                            var formData = new FormData(form[0]);
                            submitBtn.html('Importing...');

                            $.ajax({
                                url: form.attr('action'),
                                type: form.attr('method'),
                                data: formData,
                                contentType: false,
                                processData: false,
                                xhr: function () {
                                    var myXhr = $.ajaxSettings.xhr();

                                    return myXhr;
                                },
                                success: function (resp) {
                                    if (resp !== undefined) {
                                        if (resp.status) {
                                            alert('Representatives are imported successfully.')
                                        } else {
                                            alert('Representatives are not imported successfully.')
                                        }
                                    } else {
                                        alert('Representatives are not imported successfully.')
                                    }

                                    submitBtn.html('Import');
                                }
                            });
                        }
                    } else {
                        alert('Sorry, no file is selected.')
                    }
                } else {
                    alert('Representatives are being imported.')
                }
            });

            $('.generate-client-key').click(function(e) {
                e.preventDefault();

                $.ajax({
                    url: '{{ url('admin_intellihot_api_client_key_generate') }}',
                    type: 'POST',
                    success: function (resp) {
                        if (resp !== undefined) {
                            $('.client-key').val(resp.key);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block side_bar_after_nav %}
{% endblock %}

{% block footer %}{% endblock %}