<!doctype html>
<html>
    <head>
        <title>{% block title %}Intellihot - IntelliSize Water Heater Sizing Program{% endblock %}</title>
        <meta name="description" content="Intellihot IntelliSize Water Heater Sizing Program" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
        <meta name="msapplication-TileImage" content="metro-tile-icon.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        {% block stylesheets %}
            {% stylesheets output='css/main.css' filter='cssrewrite'
                'bundles/intellihotapp/css/bootstrap.min.css'
                'bundles/intellihotapp/css/font-awesome.min.css'
                'bundles/intellihotapp/css/main.css'
                'bundles/intellihotapp/css/media-queries.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="/bundles/intellihotapp/js/lib/html5shiv.min.js"></script>
            <script src="/bundles/intellihotapp/js/lib/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block body %}

            {% block body_header %}
                <header>
                    <div class="container">
                        <a class="logo" href="{{ path('index') }}">
                            <img srcset="{{ asset('bundles/intellihotapp/images/intellihot.png') }}, {{ asset('bundles/intellihotapp/images/intellihot@2x.png') }} 2x" width="137" height="43" alt="Intellihot Logo">
                        </a>
                        {% block header_title %}
                            <h1 class="title">IntelliSize - Water Heater Sizing Program</h1>
                        {% endblock %}
                    </div>
                </header>
            {% endblock %}

            {% block flash_msg %}
                <div class="flash-msg"></div>
            {% endblock %}

            <section class="main">
                <div class="container">
                    {% block body_content %}{% endblock %}
                </div>
            </section>

            {% block body_footer %}
                <footer>
                    <div class="container">
                        <p>&copy; {{ "now"|date('Y') }} Intellihot Inc.</p>
                    </div>
                </footer>
            {% endblock %}

        {% endblock %}

        {% block javascripts %}
            {% javascripts output='js/app.js'
                'bundles/intellihotapp/js/lib/jquery-1.11.1.min.js'
                'bundles/intellihotapp/js/lib/bootstrap.min.js'
                'bundles/intellihotapp/js/lib/polyfiller.min.js'
                'bundles/fosjsrouting/js/router.js'
                'js/fos_js_routes.js'
                'bundles/intellihotapp/js/app.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-59959375-1', 'auto');
                ga('send', 'pageview');
            </script>

        {% endblock %}

    </body>
</html>
