{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
<ol>
    {% if field_description.hasassociationadmin and field_description.associationadmin.isGranted('EDIT') and field_description.associationadmin.hasRoute('edit') %}

        {% for element in value%}
            <li><a href="{{ field_description.associationadmin.generateObjectUrl(field_description.options.route.name, element, field_description.options.route.parameters) }}">{{ element|render_relation_element(field_description)[:30] }}</a>{% if not loop.last %}</li>{% endif %}
        {% endfor %}

    {% else %}

        {% for element in value%}
            {{ element|render_relation_element(field_description) }}{% if not loop.last %}, {% endif %}
        {% endfor %}

    {% endif %}
</ol>
{% endblock %}
